@model ApplicationConfiguration

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: @Model.FontColor; font-size: @Model.FontSize px;">@Model.WelcomePhrase</h1>
</div>

<feature name="FeatureA">
    <p>This can only be seen if 'FeatureA' is enabled.</p>
</feature>

<feature name="FeatureB">
    <p>This can only be seen if 'FeatureB' is enabled.</p>
</feature>

@* <feature name="FeatureC">
    <p>This can only be seen if 'FeatureC' is enabled.</p>
</feature> *@